<!DOCTYPE html>

<html>
  <head>
    <title>404</title>
    <link href="/img/weather.png" rel="icon">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    {{>header}}
    <main>
      <p>{{error}}</p>
    </main>
    {{>footer}}
  </body>
</html>